<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Equipment Rental Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer src="/js/admin.js"></script>
  </head>
  <body>
    <section class="section">
      <div class="container" id="adminApp">
        <h1 class="title has-text-centered">Equipment Rental Admin</h1>
        <div v-if="isLoggedIn">
          <button class="button is-right" v-on:click="triggerIdAction('logout')">
          Log Out
          </button>
        </div>
        <div v-if="!isLoggedIn">
          <button class="button is-centered" v-on:click="triggerIdAction('login')">
            Log In
          </button>
        </div>
        <div class="columns is-mobile is-centered" v-if="isLoggedIn">
          <div class="column is-8">
            <div class="content">
              <h2>Payments</h2>
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Amount</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="payment in payments">
                    <td>{{ payment.id }}</td>
                    <td>{{ payment.status }}</td>
                    <td>${{ payment.total_money.amount/100 }}</td>
                    <td>
                      <button class="button is-primary"
                              v-if="payment.status == 'APPROVED'"
                              v-on:click="refundDeposit(payment.id, payment.amount_money.amount)">
                        Refund Deposit
                      </button>
                      <button class="button is-primary"
                              v-if="payment.status == 'APPROVED'"
                              v-on:click="completePayment(payment.id)">
                        Complete
                      </button>
                      <button class="button is-warning"
                              v-if="payment.status == 'APPROVED'"
                              v-on:click="cancelPayment(payment.id)">
                        Cancel
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
