<html>
  <head>
    <title>Equipment Rental Admin</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="adminApp">
      <div data-netlify-identity-button>Login with Netlify Identity</div>
      <div>
        <h2>Payments</h2>
        <button v-on:click="getPayments">Get Payments</button>
        <ul>
          <li v-for="payment in payments">
            {{ payment.id }} | {{ payment.status }} | ${{ payment.total_money.amount/100 }} |
            <button v-if="payment.status == 'APPROVED'"
                    v-on:click="completePayment(payment.id)">Complete</button> |
            <button v-if="payment.status == 'APPROVED'"
                    v-on:click="cancelPayment(payment.id)">Cancel</button>
          </li>
        </ul>
      </div>
    </div>
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="admin-app.js"></script>
  </body>
</html>
