<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Equipment Rental</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="mysqpaymentform.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer
            type="text/javascript"
            src="#{ square_payment_form_script_base_path }/v2/paymentform">
    </script>
    <script defer src="/js/index.js"></script>
  </head>
  <body>
    <section class="section">
      <div class="container" id="app">
        <h1 class="title has-text-centered">A1 Medical Equipment and Party Rentals</h1>
        <div class="columns is-mobile is-centered">
          <div class="column is-half">
            <div class="content" v-if="!payment_made">
              <h3>Contact Information</h3>
              <div class="field is-horizontal">
                <div class="field-label">Name</div>
                <div class="field-body">
                  <p class="control">
                    <input class="input" v-model="contact_name">
                  </p>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label">Phone Number</div>
                <div class="field-body">
                  <p class="control">
                    <input class="input" v-model="contact_number">
                  </p>
                </div>
              </div>
              <div class="field is-expanded is-horizontal">
                <div class="field-label">Delivery Address</div>
                <div class="field-body">
                  <div class="field is-expanded">
                    <p class="control">
                      <input class="input" v-model="rental_address">
                    </p>
                  </div>
                </div>
              </div>
              <h3>Rental Details</h3>
              <div class="field is-horizontal">
                <div class="field-label">Type</div>
                <div class="field-body">
                  <div class="select">
                    <select v-model="rental_selected">
                      <option disabled value="">Please Select One</option>
                      <option v-for="option in rental_options" v-bind:value="option">
                        {{ option }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label">Length</div>
                <div class="field-body">
                  <div class="control">
                    <input class="input" v-model="rental_length" type="number">
                  </div>
                    <div class="control"><a class="button is-static">{{ rental_period }}</a></div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label">Rental Start Date</div>
                <div class="field-body">
                  <p class="control">
                    <input class="input" type="date" v-model="start_date">
                  </p>
                </div>
              </div>
              <h3>Payment Amount</h3>
              <div class="field is-horizontal">
                <div class="field-label">Base Price</div>
                <div class="field-body">
                  <p class="control">
                    <input class="input" v-model="rental_price" readonly>
                  </p>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label">Deposit</div>
                <div class="field-body">
                  <p class="control">
                    <input class="input" v-model="deposit_amount" readonly>
                  </p>
                  <p class="help">Fully refundable</p>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label">Tip</div>
                <div class="field-body">
                  <p class="control">
                    <input class="input is-primary" v-model="delivery_tip" type="number">
                  </p>
                  <p class="help">For delivery person.</p>
                </div>
              </div>
              <hr>
              <div class="field is-horizontal">
                <div class="field-label">Total</div>
                <div class="field-body">
                    <p class="control">
                      <input class="input" v-model="total_price" readonly>
                    </p>
                </div>
              </div>
              <div class="form-container">
                <h3>Payment Details</h3>
                <div>
                  <button id="sq-google-pay" class="button-google-pay"></button>
                </div>
                <!--
                <div id="sq-card"></div>
                <button class="button-credit-card" v-on:click="submitCardClick">
                  Pay ${{ total_price }}
                </button>
              </div>
              -->
            </div>
            <div class="content" v-if="payment_made">
              <p>Thank you for your reservation.</p>
              <a v-bind:href="'/payments/' + payment_id">View Detail</a>
              <p>To receive an email with a link to check on this reservation, please enter
                your address here:
                <input class="input" type="email" v-model="email_address">
                <button class="button is-primary"
                        v-on:click="sendEmail(payment_id, email_address)">
                  Send Reminder Email
                </button>
              </p>
              <p><a href="/" v-on:click="payment_id = null">Make another Payment</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
